{% extends "membership/base.html" %}

{% block title %}Delete Event{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-danger text-white">

            <h4>Delete Event</h4>

        </div>

        <div class="card-body">

            <h5>

                Are you sure you want to delete

                <strong>{{ event.event_name }}</strong> ?

            </h5>

            <br>

            <form method="POST">

                {% csrf_token %}

                <button class="btn btn-danger">

                    Yes, Delete

                </button>

                <a href="{% url 'event_list' %}"

                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}