<style>
    @page{
    size:A5 portrait;
    margin:8mm;
}

body{
    margin:0;
    font-family:Arial;
    font-size:12px;
}

.receipt{
    width:100%;
}


/* HEADER */

.header{
    text-align:center;
}

.logo{
    height:55px;
}

.company-name{
    font-size:18px;
    font-weight:bold;
}


/* TITLE */

.title{
    margin-top:10px;
    background:#075985;
    color:white;
    text-align:center;
    padding:8px;
    font-size:16px;
    font-weight:bold;
}


/* INFO */

.info{
    margin-top:10px;
}

.row{
    display:flex;
    line-height:22px;
}

.label{
    width:120px;
}

.value{
    flex:1;
}


/* FEE TABLE */

table{
    width:100%;
    border-collapse:collapse;
    margin-top:12px;
}

th,td{
    border:1px solid #777;
    padding:5px;
}

th{
    background:#eeeeee;
}


/* TOTAL */

.total{
    text-align:right;
    font-size:15px;
    font-weight:bold;
}


/* SIGN */

.signature{
    margin-top:35px;
    display:flex;
    justify-content:space-between;
}


/* FOOTER */

.footer{
    text-align:center;
    margin-top:20px;
    font-size:10px;
}
</style>

<div class="receipt">

<div class="header">

{% if receipt.organisation.logo %}
<img src="{{ receipt.organisation.logo.url }}" class="logo">
{% endif %}

<div class="org-name">

{{ receipt.organisation.name }}

</div>

<div class="subtitle">

{{ receipt.organisation.address }}<br>

Phone : {{ receipt.organisation.phone }}

&nbsp;&nbsp;

Email : {{ receipt.organisation.email }}

</div>

</div>

<div class="title">

MEMBERSHIP RECEIPT

</div>

<div class="receipt-info">

    <table class="info-table">
    <colgroup>
        <col style="width:20%">
        <col style="width:4%">
        <col style="width:26%">

        <col style="width:20%">
        <col style="width:4%">
        <col style="width:26%">
    </colgroup>

    <tr>
        <td><b>Receipt No</b></td>
        <td>:</td>
        <td>RC{{ receipt.receipt_no|stringformat:"06d" }}</td>

        <td><b>Date</b></td>
        <td>:</td>
        <td>{{ receipt.receipt_date|date:"d-m-Y" }}</td>
    </tr>

    <tr>
        <td><b>Member No</b></td>
        <td>:</td>
        <td>{{ receipt.member.member_no }}</td>

        <td><b>Membership No</b></td>
        <td>:</td>
        <td>{{ receipt.member.membership_no }}</td>
    </tr>

    <tr>
        <td><b>Company</b></td>
        <td>:</td>
        <td>{{ receipt.member.company_name }}</td>

        <td><b>Owner</b></td>
        <td>:</td>
        <td>{{ receipt.member.owner_name }}</td>
    </tr>

    <tr>
        <td><b>Payment Mode</b></td>
        <td>:</td>
        <td>{{ receipt.payment_mode.name }}</td>

        <td><b>Reference No</b></td>
        <td>:</td>
        <td>{{ receipt.reference_no|default:"-" }}</td>
    </tr>

</table>
</div>

<table class="detail-table">

<thead>

<tr>

<th width="8%">S.No</th>

<th>Fee Description</th>

<th width="22%">Amount</th>

</tr>

</thead>

<tbody>

{% for d in receipt.details.all %}

<tr>

<td align="center">{{ forloop.counter }}</td>

<td>{{ d.fee_master.fee_name }}</td>

<td align="right">₹ {{ d.amount }}</td>

</tr>

{% endfor %}

<tr class="total-row">

<td colspan="2" align="right">

GRAND TOTAL

</td>

<td align="right">

₹ {{ receipt.total_amount }}

</td>

</tr>

</tbody>

</table>

<div class="box">
    <b>Amount in Words :</b><br>
    {{ amount_words }}
</div>

<div class="box">

<b>Remarks</b>

<hr>

{{ receipt.remarks }}

</div>

<table class="signature-table">

<tr>

<td>

<div class="sign-area"></div>

<div class="signature-line"></div>

Member Signature

</td>

<td>

<div class="sign-area"></div>

<div class="signature-line"></div>

Treasurer

</td>

<td>

<div class="sign-area"></div>

<div class="signature-line"></div>

Authorized Signatory

</td>

</tr>

</table>

<div class="footer">
Generated by Membership ERP

<br>

This is a Computer Generated Receipt.

</div>

<div class="no-print">

<a href="{% url 'receipt_list' %}"
class="btn btn-secondary">

Back

</a>

<button onclick="window.print()"
class="btn btn-primary">

🖨 Print Receipt

</button>

</div>

</div>
